<ng-container *ngIf="enabledEditMode; then editMode; else displayMode"></ng-container>

<ng-template #displayMode>
    <div>
        {{ customer.CustomerID }} - {{ customer.FirstName }} {{ customer.LastName }}
    </div>
    <button (click)="edit()">Edit</button>&nbsp;
    <button (click)="delete()">Delete</button>
</ng-template>

<ng-template #editMode>
    <div>
        <form #customerEditForm="ngForm">

            <input type="hidden" id="CustomerID" name="CustomerID" [value]="customer.CustomerID"> {{ customer.CustomerID
            }}

            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="customer.FirstName" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name: </label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="customer.LastName" name="lastName" #lastName="ngModel">
                <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Last Name is required</div>
            </div>

            <button *ngIf="customerEditForm.form.valid && customerEditForm.form.dirty" type="submit" (click)="onSubmit()">Submit</button>
            <button type="submit" (click)="cancel()">Cancel</button>
        </form>
    </div>
</ng-template>